<template>
    <div class="custom-switcher" :class="{'disabled': disabled}">
        <input type="checkbox" v-model.lazy="valueLocal" :disabled="disabled"/>
        <span class="button"></span>
    </div>
</template>

<script>
    export default {
        name: "CustomSwitcher",
        props: {
            disabled: {
                type: Boolean,
                required: false,
                default: false,
            },
            value: {
                type: Boolean,
                required: true,
                default: true,
            }
        },
        computed: {
            valueLocal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            }
        }
    }
</script>

<style scoped>
    .custom-switcher {
        background: rgba(0, 0, 0, 0.38);
        width: 34px;
        height: 14px;
        border-radius: 20px;
        position: relative;
    }

    .custom-switcher.disabled {
        opacity: 0.6;
    }

    .custom-switcher.disabled input {
        cursor: default;
    }

    .custom-switcher .button {
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #fafafa;
        position: absolute;
        top: -3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .custom-switcher input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        cursor: pointer;
        z-index: 1000;
    }

    .custom-switcher input:checked + .button {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
</style>
