<template>
    <div class="arrayParsed">
        <span v-for="(value, index) in array">{{ index+1 }}. {{ value }}<br></span>
    </div>
</template>

<script>
    export default {
        name: "CustomArrayParser",
        props: {
            array: {
                type: Array,
                required: true,
            },
        },
    }
</script>

<style scoped>

</style>
