<template>
    <div class="objectParsed">
        <span v-for="(value, key) in object"><b>{{ key }}:</b> {{ value }}<br></span>
    </div>
</template>

<script>
    export default {
        name: "CustomObjectParser",
        props: {
            object: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style scoped>

</style>
