<template>
    <div>
        <div class="md-checkbox md-theme-default" :class="{'md-checked': classChecked}">
            <div tabindex="0" class="md-checkbox-container">
                <input type="checkbox" tabindex="-1" v-model.lazy="valueLocal" :id="id" :value="actualValue">
            </div>
            <label class="md-checkbox-label" :for="id">
                <slot></slot>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomCheckbox",
        props: {
            value: {
                type: [Boolean, Array],
                required: true,
                default: true,
            },
            id: {
                type: String,
                required: false,
            },
            actualValue: {
                required: false,
            }
        },
        computed: {
            valueLocal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            },
            classChecked() {
                return Array.isArray(this.valueLocal) ? this.valueLocal.includes(this.actualValue) : this.valueLocal
            }
        }
    }
</script>

<style scoped>
    .md-checkbox.md-checked .md-checkbox-container {
        background: #000;
    }
    .md-checkbox .md-checkbox-container input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 999;
        cursor: pointer;
        opacity: 0;
    }
</style>
