<template>
    <ul class="pagination" style="margin: 0">
        <li v-if="!isFirstPage" class="page-item" @click="turnPage(-1)">
            <a href="#" class="page-link" @click.prevent>
                <i aria-hidden="true" class="md-icon md-theme-default material-icons">arrow_back</i>
            </a>
        </li>
        <li v-for="i in dspBtns" :class="['page-item', { 'active': i === curPage }]">
            <a v-if="i" href="#" class="page-link" @click.prevent="handleClick(i)">
                {{ i }}
            </a>
            <a v-else class="page-link">
                <i aria-hidden="true" class="md-icon md-theme-default material-icons">more_horiz</i>
            </a>
        </li>
        <li v-if="!isLastPage" class="page-item" @click="turnPage(1)">
            <a href="#" class="page-link" @click.prevent>
                <i aria-hidden="true" class="md-icon md-theme-default material-icons">arrow_forward</i>
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'Pagination',
        props: {
            total: {type: Number, required: true},
            query: {type: Object, required: true}
        },
        computed: {
            isFirstPage() {
                return +this.query.offset === 0 || +this.query.interval >= this.total
            },
            isLastPage() {
                return +this.query.offset + +this.query.interval >= this.total
            },
            totalPage() {
                return Math.ceil(this.total / +this.query.interval)
            },
            curPage() {
                return Math.ceil(+this.query.offset / +this.query.interval) + 1
            },
            dspBtns() {
                const n = this.totalPage;
                const i = this.curPage;

                if (n <= 9) return ((n) => {
                    const arr = Array(n);
                    while (n) {
                        arr[n - 1] = n--
                    }
                    return arr
                })(n);
                if (i <= 5) return [1, 2, 3, 4, 5, 6, 7, 0, n];
                if (i >= n - 4) return [1, 0, n - 6, n - 5, n - 4, n - 3, n - 2, n - 1, n];
                return [1, 0, i - 2, i - 1, i, i + 1, i + 2, 0, n]
            }
        },
        methods: {
            handleClick(n) {
                this.query.offset = (n - 1) * +this.query.interval
            },
            turnPage(i) {
                if (i < 0 && this.isFirstPage || i > 0 && this.isLastPage) return;
                this.query.offset = +this.query.offset + i * +this.query.interval
            }
        }
    }
</script>

<style scoped>
    .pagination {
        display: inline-block;
        padding-left: 0;
        border-radius: 4px;
    }

    .pagination > li {
        display: inline;
    }

    .pagination a {
        text-decoration: none !important;
    }

    .pagination > li:first-child > a, .pagination > li:first-child > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #3f51b5;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination .md-icon {
        width: 18px;
        min-width: 18px;
        height: 18px;
        min-height: 18px;
        font-size: 18px;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #3f51b5;
        border-color: #3f51b5;
    }

    .pagination>li:last-child>a, .pagination>li:last-child>span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
</style>
