<template>
    <tr class="md-table-row">
        <td class="md-table-cell row-checkbox" v-if="checkable">
            <div class="md-table-cell-container">
                <slot name="checkable"></slot>
            </div>
        </td>
        <td class="md-table-cell"
            v-for="(column, index) in columns"
            :key="index"
            v-if="column.visible"
        >
            <div class="md-table-cell-container">
                <slot :name="column.name" :row="row">

                    <template v-if="row[column.name] === undefined || row[column.name] === null">No data.</template>

                    <template v-else-if="column.type === 'Boolean' || typeof row[column.name] === 'boolean'">
                        <custom-switcher
                            :disabled="!column.editable"
                            v-model="row[column.name]"
                        ></custom-switcher>
                    </template>

                    <template v-else-if="column.type === 'Array' || Array.isArray(row[column.name])">
                        <custom-array-parser :array="row[column.name]"></custom-array-parser>
                    </template>

                    <template v-else-if="column.type === 'Object' || typeof row[column.name] === 'object'">
                        <custom-object-parser :object="row[column.name]"></custom-object-parser>
                    </template>

                    <template v-else>
                        {{ row[column.name] }}
                    </template>

                </slot>
            </div>
        </td>
        <td class="md-table-cell row-actions" v-if="editable || deletable || tools.length">
            <div class="md-table-cell-container">
                <button type="button" class="md-button md-icon-button show-columns-icon md-theme-default"
                        @click="toggleColumnSettings">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">more_vert</i>
                </button>
                <transition name="fade" mode="in-out">
                    <div v-if="showColumnSettings" class="select-container">
                        <ul class="md-list md-theme-default">
                            <li class="md-list-item md-menu-item" v-if="editable">
                                <div class="md-list-item-container md-button">
                                    <i aria-hidden="true" class="md-icon save-button md-theme-default material-icons">edit</i>Edit
                                </div>
                                <button type="button" class="md-button md-button-ghost md-theme-default" @click="$emit('onEdit', row)"></button>
                            </li>
                            <li class="md-list-item md-menu-item" v-if="deletable">
                                <div class="md-list-item-container md-button">
                                    <i aria-hidden="true" class="md-icon save-button md-theme-default material-icons">delete</i>Delete
                                </div>
                                <button type="button" class="md-button md-button-ghost md-theme-default" @click="$emit('onDelete', row)"></button>
                            </li>
                            <slot name="tools" :row="row"></slot>
                        </ul>
                    </div>
                </transition>
            </div>
        </td>
    </tr>
</template>

<script>
    import CustomSwitcher from '../helpers/CustomSwitcher'
    import CustomObjectParser from '../helpers/CustomObjectParser'
    import CustomArrayParser from '../helpers/CustomArrayParser'

    export default {
        name: "TableRow",
        props: {
            columns: {type: Array, required: true,},
            tools: { type: Array, required: false, default: [], },
            row: {type: Object, required: true,},
            checkable: {type: Boolean, required: true,},
            editable: {type: Boolean, required: true,},
            deletable: {type: Boolean, required: true,},
        },
        components: {
            CustomSwitcher,
            CustomObjectParser,
            CustomArrayParser,
        },
        data: () => ({
            showColumnSettings: false,
        }),
        methods: {
            toggleColumnSettings() {
                this.showColumnSettings = !this.showColumnSettings;
                if (this.showColumnSettings) {
                    setTimeout(() => document.addEventListener('click', this.toggleColumnSettingsEvent), 0);
                } else {
                    document.removeEventListener('click', this.toggleColumnSettingsEvent);
                }
            },
            toggleColumnSettingsEvent() {
                this.toggleColumnSettings(false);
            }
        }
    }
</script>

<style scoped>
    .row-checkbox {
        width: 45px;
    }

    .row-actions {
        width: 85px;
    }

    .select-container {
        background: #f2f2f2;
        color: #000;
        position: absolute;
        right: 35px;
        top: 55px;
        z-index: 99;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
        top: 65px !important;
    }
</style>

<style>
    .select-container .md-list li {
        min-width: 150px !important;
    }

    .select-container .md-button {
        width: 100% !important;
        height: 45px !important;
        padding: 0 15px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        color: rgba(0, 0, 0, 0.54) !important;
    }

    .select-container i {
        margin: 0 !important;
    }
</style>
