<template>
    <tr class="md-table-row">
        <td class="md-table-cell" :colspan="colspan">
            <div class="md-table-cell-container">
                This is subrow
            </div>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "TableSubRow",
        props: {
            columns: {type: Array, required: true,},
            tools: { type: Array, required: false, default: [], },
            row: {type: Object, required: true,},
            checkable: {type: Boolean, required: true,},
            editable: {type: Boolean, required: true,},
            deletable: {type: Boolean, required: true,},
        },
        computed: {
            colspan() {
                let val = this.columns.length;
                if (this.editable || this.deletable || this.tools.length) {
                    val++;
                }
                if (this.checkable) {
                    val++;
                }
                return  val;
            }
        }
    }
</script>

<style scoped>

</style>
