<template>
    <tbody>
        <template v-for="(row, index) in data">
            <table-row
                :columns="columns"
                :tools="tools"
                :row="row"
                :checkable="checkable"
                :editable="editable"
                :deletable="deletable"
                @onEdit="onEdit"
                @onDelete="onDelete"
            >
                <template slot="checkable" v-if="checkable">
                    <custom-checkbox v-model="checkedValues" :actualValue="row" @input="$emit('onSelect', checkedValues)"></custom-checkbox>
                </template>
                <slot
                    v-for="column in columns"
                    :name="column.name"
                    slot-scope="{ row }"
                    :row="row"
                    :slot="column.name"
                ></slot>
                <slot name="tools" slot-scope="{ row }" :row="row" slot="tools"></slot>
            </table-row>
            <table-sub-row
                :columns="columns"
                :tools="tools"
                :row="row"
                :checkable="checkable"
                :editable="editable"
                :deletable="deletable"
            >

            </table-sub-row>
        </template>
    </tbody>
</template>

<script>
    import TableRow from './TableRow'
    import TableSubRow from './TableSubRow'
    import CustomCheckbox from '../helpers/CustomCheckbox'

    export default {
        name: "TheTableBody",
        components: {
            TableRow,
            TableSubRow,
            CustomCheckbox,
        },
        props: {
            columns: { type: Array, required: true, },
            tools: { type: Array, required: false, default: [], },
            data: { type: Array, required: true, },
            checkable: { type: Boolean, required: true, },
            editable: { type: Boolean, required: true, },
            deletable: { type: Boolean, required: true, },
        },
        data:() => ({
            checkedValues: [],
        }),
        methods: {
            onEdit(payload) {
                this.$emit('onEdit', payload);
            },
            onDelete(payload) {
                this.$emit('onDelete', payload);
            }
        }
    }
</script>

<style scoped>

</style>
