<template>
    <div class="table-container">
        <the-table-header
            :checkable="!!checkable"
            :editable="!!editable"
            :columns="columns"
            :tools="tools"
            :title="title"
            :maxHeight="maxHeight"
            :query="query"
            @sortChange="setSort"
            @onAdd="$emit('onAdd')"
        ></the-table-header>
        <div class="md-table md-theme-default" :style="{'max-height': maxHeight, 'overflow': 'auto'}">
            <table>
                <the-table-body
                    :checkable="!!checkable"
                    :editable="!!editable"
                    :deletable="!!deletable"
                    :columns="columns"
                    :tools="tools"
                    :data="paginatedData"
                    @onSelect="onSelect"
                    @onEdit="onEdit"
                    @onDelete="onDelete"
                >
                    <template
                        v-for="column in columns"
                        :slot="column.name"
                        slot-scope="{ row }"
                    >
                        <slot :name="column.name" :row="row"></slot>
                    </template>
                    <template slot="tools" slot-scope="{ row }">
                        <li class="md-list-item md-menu-item" v-for="tool in tools">
                            <div class="md-list-item-container md-button">
                                <i aria-hidden="true" class="md-icon save-button md-theme-default material-icons">{{ tool.icon }}</i>{{ tool.label }}
                            </div>
                            <button type="button" class="md-button md-button-ghost md-theme-default" @click="$emit(tool.eventName, row)"></button>
                        </li>
                    </template>
                </the-table-body>
            </table>
        </div>
        <the-table-footer
            :total="total"
            :query="query"
            :paginated="paginated"
        ></the-table-footer>
    </div>
</template>

<script>
    import TheTableBody from './TheTableBody'
    import TheTableHeader from './TheTableHeader'
    import TheTableFooter from './TheTableFooter'

    export default {
        name: "TheTable",
        components: {
            TheTableBody,
            TheTableHeader,
            TheTableFooter,
        },
        props: {
            columns: {
                type: Array, required: true,
                validator: value => !value.find(el => ['Number', 'String', 'Boolean', 'Object', 'Array'].indexOf(el.type) === -1),
            },
            data: { type: Array, required: true, default: [], },
            tools: { type: Array, required: false, default: [], },
            maxHeight: { type: String, required: false, },
            title: { type: String, required: false, },
            paginated: { type: Boolean, required: false, default: true, },
            checkable: { type: Boolean, required: false, },
            editable: { type: Boolean, required: false, },
            deletable: { type: Boolean, required: false, },
        },
        data:() => ({
            query: {
                interval: 10,
                offset: 0,
                sort: '',
                order: false,
                search: '',
            },
        }),
        computed: {
            total() {
                return this.filteredData.length;
            },
            filteredData() {
                return this.query.search ? this.data.filter((el) => {
                    for (let key in el) {
                        if ((el[key]+'').includes(this.query.search)) return true;
                    }
                }) : this.data;
            },
            paginatedData() {
                return this.paginated ? this.filteredData.slice(this.query.offset, this.query.offset + this.query.interval) : this.filteredData;
            }
        },
        methods: {
            setSort(val) {
                this.query.order = !this.query.order;
                this.query.sort = val;
                this.data.sort(this.sortFunction);
            },
            sortFunction(a, b) {
                if (a[this.query.sort] === null || a[this.query.sort] === undefined) {
                    return 1;
                } else if(b[this.query.sort] === null || b[this.query.sort] === undefined){
                    return -1;
                } else if(this.query.order) {
                    return a[this.query.sort] < b[this.query.sort] ? -1 : 1;
                } else if(!this.query.order) {
                    return a[this.query.sort] < b[this.query.sort] ? 1 : -1;
                }
                return 0;
            },
            onSelect(payload) {
                this.$emit('onSelect', payload);
            },
            onEdit(payload) {
                this.$emit('onEdit', payload);
            },
            onDelete(payload) {
                this.$emit('onDelete', payload);
            }
        },
    }
</script>

<style>
    .md-table table {
        table-layout: fixed !important;
    }

    .md-table .md-table-head-container {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*Scrollbar*/
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        background: #3f51b5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        border-radius: 1px;
    }
</style>
