<template>
    <div class="table-header">
        <div class="md-toolbar md-theme-default toolbox" style="z-index: 99;">
            <h1 class="md-title" v-if="title">{{ title }}</h1>
            <div class="tools">
                <div class="search-container">
                    <div class="md-input-container md-theme-default md-input-focused">
                        <i aria-hidden="true" class="md-icon md-theme-default material-icons">search</i>
                        <input type="text" class="md-input" v-model="query.search">
                    </div>
                </div>
                <button type="button" class="md-button md-icon-button md-theme-default" @click="$emit('onAdd')">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">add</i>
                </button>
                <button type="button" class="md-button md-icon-button show-columns-icon md-theme-default" tabindex="-1">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">filter_list</i>
                </button>
                <button type="button" class="md-button md-icon-button show-columns-icon md-theme-default"
                        @click="toggleColumnSettings(false)">
                    <i aria-hidden="true" class="md-icon md-theme-default material-icons">more_vert</i>
                </button>
                <transition name="fade" mode="in-out">
                    <div v-if="showColumnSettings" class="select-container" @click.stop>
                        <div>
                            <div v-for="(column, index) in columns" :key="column.name">
                                <custom-checkbox v-model="column.visible" :id="`column-${index}`" @change="toggleColumnSettings(true)">
                                    {{column.showName}}
                                </custom-checkbox>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div class="header-container" :class="{fixedHeader: maxHeight}">
            <div class="md-table datatable md-theme-default">
                <table>
                    <thead>
                    <tr class="md-table-row">
                        <th class="md-table-head row-checkbox" v-if="checkable">
                            <div class="md-table-head-container">
                                <div class="md-table-head-text md-test">

                                </div>
                            </div>
                        </th>
                        <th class="md-table-head"
                            :class="{'md-sortable': column.sortable, 'md-sorted': query.sort === column.name, 'md-sorted-descending': query.sort === column.name && !query.order}"
                            v-for="(column, index) in columns"
                            :key="index"
                            v-if="column.visible"
                        >
                            <div class="md-table-head-container" @click="emitSort(column)">
                                <div class="md-table-head-text md-test">
                                    <i aria-hidden="true"
                                       class="md-icon md-sortable-icon md-theme-default material-icons"
                                       v-if="column.sortable">arrow_upward</i>
                                    {{ column.showName || column.name }}
                                </div>
                            </div>
                        </th>
                        <th class="md-table-head row-actions" v-if="editable || deletable || tools.length">
                            <div class="md-table-head-container">
                                <div class="md-table-head-text md-test">
                                    Actions
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import CustomCheckbox from '../helpers/CustomCheckbox'

    export default {
        name: "TheTableHeader",
        data: () => ({
            showColumnSettings: false,
        }),
        props: {
            checkable: { type: Boolean, required: true, },
            editable: { type: Boolean, required: true, },
            columns: {type: Array, required: true,},
            tools: { type: Array, required: false, default: [], },
            title: {type: String, required: false,},
            maxHeight: {type: String, required: false,},
            query: {type: Object, required: true},
        },
        components: {
            CustomCheckbox
        },
        methods: {
            emitSort(column) {
                if (column.sortable) {
                    this.$emit('sortChange', column.name);
                }
            },
            toggleColumnSettings(column) {
                if (!column) {
                    this.showColumnSettings = !this.showColumnSettings;
                    if (this.showColumnSettings) {
                        setTimeout(() => document.addEventListener('click', this.toggleColumnSettingsEvent), 0);
                    } else {
                        document.removeEventListener('click', this.toggleColumnSettingsEvent);
                    }
                }
            },
            toggleColumnSettingsEvent() {
                this.toggleColumnSettings(false);
            }
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: all .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
        top: 75px !important;
    }

    .row-checkbox {
        width: 45px;
    }

    .row-actions {
        width: 85px;
    }

    .select-container {
        background: #f2f2f2;
        color: #000;
        position: absolute;
        right: 35px;
        top: 55px;
        padding: 5px 10px;
        z-index: 99;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    .toolbox {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .fixedHeader {
        padding-right: 7px;
    }

    .header-container {
        background: #f2f2f2;
    }

    .tools {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
